@font-face {
	font-family: Lavigne;
	scr: url("./fonts/Lavigne/Lavigne.ttf") format('truetype'),
		 url("./fonts/Lavigne/Lavigne.otf") format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Modern Sans;
	scr: url("./fonts/ModernSans-Light.otf") format('opentype');
	font-weight: normal;
	font-style: normal;
}


body {
	background-color: #ffffff;
	margin: 0px;
	
}

div.nav {
	border-right: 1px solid black;
	width: 17%;
	height: 100%;
	position: fixed;
}

ul.nav_bar {
  list-style-type: none;
  margin: 0;
}

li.nav_bar_el {
  display: block;
  width: 80%;
  text-align: center;
}

li.nav_bar_el a {
	padding: 1px 20px 1px 20px;
	margin: 5px;
	font-size: 30px;
	text-decoration: none;
	color: #000000;
	border: 1px solid black;	
	width: 100px;
	font-family: Modern Sans;
}

li.nav_bar_el a.active {
	background-color: #777DA7;
}

h1.moko {
	font-size: 450%;
	font-family: Lavigne;
	padding-bottom: 0px;
}

em.mo {
	font-style: normal;
}

em.ko {
	font-style: normal;
	color: #FE5F55;
}
